.ListGroup {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.Item {
  width: auto;
  text-align: center;
  word-wrap: break-word;
}
.Subject {
  width: 100%;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1vw;
}

.Answers {
  width: auto;
  text-align: center;
  word-wrap: break-word;
}

.Passed {
  color: rgb(94, 175, 94);
}
.Failed {
  color: rgb(230, 101, 101);
}
