.ListGroup {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.Item {
  width: auto;
  text-align: center;
  word-wrap: break-word;
}
.Subject {
  width: 100%;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1vw;
}
.Test {
  cursor: pointer;
}
.TestGroup {
  display: flex;
  flex-direction: row;
  float: left;
  align-items: center;
  /* flex-direction: column; */
}

.TestItem {
}

.RemoveBtn {
  /* display: flex; */

  align-items: stretch;
  float: right;
  /* margin:20px; */
}
